@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

/* Typefewfewfw */

	body, input, select, textarea {
		color: #fff;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		color: #ffffff;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		color: #555;
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: #000;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		font-weight: 100;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px #dbdbdb;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 0;
		border: solid 1px #dbdbdb;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	.inner {
		max-width: 75em;
		margin: 0 auto;
	}

		@media screen and (max-width: 1280px) {

			.inner {
				max-width: 90%;
			}

		}

		@media screen and (max-width: 480px) {

			.inner {
				max-width: 85%;
			}

		}



/* Header */

	.subpage {
		padding-top: 44px;
	}

		.subpage #header {
			background: #5385c1;
			top: 10px;
			height: 44px;
			line-height: 44px;
			position: fixed;
		}

	#header {
		font-size: 20px;
		font-weight: 600;
		color: #000;
		cursor: default;
		height: 3.25em;
		right: 0%;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			color: #000;
			display: inline-block;
			font-weight: 600;
			height: inherit;
			left: -10%;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 12px;
			font-size: 1em;
		}

		#header a {
			display: inline-block;
			padding: 0 0.75em;
			margin: 10px 0px 0px 50px;
			color: inherit;
			text-decoration: none;
			font-size: 1em;
		}

			#header a:hover {
				color: #000;
			}

			/**#header a:last-child {
				padding-right: 0;
			}**/

			#header a.navPanelToggle {
				display: none;
				text-decoration: none;
				height: 4em;
				width: 4em;
				z-index: 10003;
			}

				#header a.navPanelToggle .fa {
					font-size: 1.25em;
				}

				@media screen and (max-width: 980px) {

					#header a.navPanelToggle {
						display: inline-block;
					}

				}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 980px) {

		#header {
			top: 3em;
			height: 44px;
			line-height: 44px;
		}

	}

	@media screen and (max-width: 736px) {

		#header {
			top: 2em;
		}

	}

	@media screen and (max-width: 480px) {

		#header {
			top: 1em;
			min-width: 320px;
		}

	}

/* Nav */

	@media screen and (max-width: 980px) {
		}
		.nav{
			margin-right: 50px;
			font-weight: 600;
		}
		#nav {
			display: visible;
			font-weight: 300;
			margin-right: 50px;
		}

	}

	#navPanel {
		-moz-transform: translatex(20em);
		-webkit-transform: translatex(20em);
		-ms-transform: translatex(20em);
		transform: translatex(20em);
		-moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-webkit-overflow-scrolling: touch;
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		background: #5385c1;
		color: #fff;
		height: 0%;
		max-width: 80%;
		width: 20em;
		padding: 0.5em 1.25em;
		z-index: 10003;
	}

		#navPanel.visible {
			-moz-transform: translatex(0);
			-webkit-transform: translatex(0);
			-ms-transform: translatex(0);
			transform: translatex(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

			#navPanel a:not(.close):first-child {
				border: none;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #000;
			cursor: pointer;
			display: block;
			height: 4em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 5em;
		}
/* menuber */
		.menu {
		  position: relative;
		  height: 44px;
		  background: #fff;
		  width: auto;
		  padding-right: 0%;
		  text-align: center;
		}
		.menu ul {
		  padding: 2;
		  margin: 0;
		  line-height: 0;
		}
		.menu ul li ul li a{
		  padding: 2;
		  margin: 0;
		  line-height: 2;
		}

		.manu ul li a{
			padding-top: 0;
			margin-bottom: 30px;
		}
		.menu > ul {

		  display: block;
		  background: #fff;
		  width: 100%;
		  height: 0;
		}
		.menu:after, .menu > ul:after {
		  content: ".";
		  display: block;
		  clear: both;
		  visibility: hidden;
		  line-height: 0;
		  height: 0;
		}
		.menu.align-right > ul > li {
		  float: left;
		}
		.menu.align-center ul {
		  text-align: center;
		}
		.menu.align-center ul ul {
		  text-align: left;
		}
		.menu > ul > li {
		  display: inline-block;
		  position: relative;
		  margin: 0;
		  padding: 0;
		  margin-top:10px;
		  margin-left:20px;
		}
		.menu ul li a {
		  display: block;
		  font-family: Neucha, Arial, sans serif ;
		  text-decoration: none;
		  margin-bottom: 10px;
    	  padding-bottom: 10px;
		}
		.menu > ul > li > a {
		  font-size: 14px;
		  font-weight: bold;
		  padding: 15px 20px;
		  color: #bbb;
		  text-transform: uppercase;
		  -webkit-transition: color 0.25s ease-out;
		  -moz-transition: color 0.25s ease-out;
		  -ms-transition: color 0.25s ease-out;
		  -o-transition: color 0.25s ease-out;
		  transition: color 0.25s ease-out;
		}
		.menu > ul > li.sub > a {
		  padding-left: 1000px;m
		}
		.menu > ul > li:hover > a {
		  color: #fff;
		}
		.menu li.sub::after {
		  display: block;
		  content: "";
		  position: absolute;
		  width: 0;
		  height: 0;
		}
		.menu > ul > li.sub::after {
		  right: -10px;
		  top: 25px;
		  border: 5px solid transparent;
		  border-top-color: #7a8189;
		}
		.menu > ul > li:hover::after {
		  border-top-color: #bbb;
		}
		.menu ul ul {
		  position: absolute;
		  left: -9999px;
		  top: 80px;
		  opacity: 0;
		  -webkit-transition: opacity .3s ease, top .25s ease;
		  -moz-transition: opacity .3s ease, top .25s ease;
		  -ms-transition: opacity .3s ease, top .25s ease;
		  -o-transition: opacity .3s ease, top .25s ease;
		  transition: opacity .3s ease, top .25s ease;
		  z-index: 1000;
		}
		.menu ul ul ul {
		  top: 40px;
		  padding-left: 0px;
		}
		.menu ul ul li {
		  position: relative;
		}
		.menu > ul > li:hover > ul {
		  left: auto;
		  top: 20px;
		  opacity: 1;
		}
		.menu.align-right > ul > li:hover > ul {
		  left: auto;
		  right: 0;
		  opacity: 1;
		}
		.menu ul ul li:hover > ul {
		  left: 170px;
		  top: 0;
		  opacity: 1;
		}
		.menu.align-right ul ul li:hover > ul {
		  left: auto;
		  right: 100px;
		  top: 0;
		  opacity: 1;
		  padding-right: 10px;
		}
		.menu ul ul li a {
		  width: 100px;
		  padding-top: -20px;
		  font-size: 12px;
		  background: #fff;

		}
		.menu.align-right ul ul li a {
		  text-align: left;
		}
		/*hr*/
	.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
	/* Banner */

	#banner {
		padding: 15em 0 0em 0;
		background-color: #fff;
		background-size: auto;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		border-top: 0em solid #5385c1;
	}

		#banner h1 {
			font-size: 4em;
			font-weight: 700;
			color: #000;
			line-height: 2em;
			margin: -2em 0 1em 0;
			padding: 1;
		}

		#banner p {
			font-size: 1.5em;
			font-weight: 400;
			color: #000;
			margin: -3.5em 0 1.75em 0;
			margin-top:10px;
		}
		/* �ؽ�Ʈ �ִϸ��̼� css*/
		{
			margin: 0px;
			padding: 0px;
			}
			p {
			display: none;
			font-size: 25px;
			font-family:Neucha, Arial, sans serif;
			}
			.p2 {
			display: block;
			width: 100%;
			margin: 0 auto;
			word-break: break-all;
			margin-top:50px;
		}

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

			#banner {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 10em 2em 8em 2em;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 8em 1.5em 6em 1.5em;
			}

				#banner h1 {
					font-size: 2.5em;
				}

				#banner p {
					font-size: .9em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 6em 1.5em 4em 1.5em;
			}

		}
/* bannerslide */
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none; color:#666;}
a:hover{color:#1bc1a3;}
body, hmtl{background: #fff; font, sans-serif;}


#wrapper{
    width:100%;
    margin:50px auto;
    height:460px;
    position:relative;
    background-color:#fff;
    text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;    
}

#slider-wrap{
    width:100%;
    height:500px;
    position:absolute;
    overflow:hidden;
}

#slider-wrap ul#slider{
    width:100%;
    height:100%;
    
    position:absolute;
    top:0;
    left:20px;     
}

#slider-wrap ul#slider li{
    float:left;
    position:relative;
    width:33.3%;
    height:100%;   
}

#slider-wrap ul#slider li > div{
    position:absolute;
    top:20px;
    left:300px;  
}

#slider-wrap ul#slider li > div h3{
    font-size:36px;
    text-transform:uppercase;   
}

#slider-wrap ul#slider li > div span{
    font-family: Neucha, Arial, sans serif;
    font-size:21px;
}

#slider-wrap ul#slider li img{
    display:block;
    width:100%;
  height: 100%;
}


/*�����̵� ��ư*/
.btns{
    position:absolute;
    width:50px;
    height:60px;
    top:50%;
    margin-top:-25px;
    line-height:57px;
    text-align:center;
    cursor:pointer; 
    background:rgba(0,0,0,0.1);
    z-index:100;
    
    
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
    
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btns:hover{
    background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
    top: 30px; 
    right:35px; 
    width:auto;
    position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}

/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{ color: #666; text-transform:uppercase;  font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
    -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
    transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}

/* Footer */

	#footer .inner {
		border-top: 1px solid #dbdbdb;
	}

	#footer .copyright {
		color: #000;
		font-size: 0.8em;
		margin: 0 0 2em 0;
		padding: 0;
	}

		#footer .copyright a {
			color: #000;
			text-decoration: none;
		}

			#footer .copyright a:hover {
				color: #000;
				text-decoration: underline;
			}

	#footer ul.icons li .icon {
		font-size: 0.58em;
	}
	/*tewtwe*/