.quick_btable{
	margin: 0 10px auto;
	width: 100px;
}
.quick_a:link { color: black; text-decoration: none;}
.quick_a:visited { color: black; text-decoration: none;}
.quick_a:hover { color: black; text-decoration: none;}
.quick_hr{ border-bottom:1px solid #000; }
.quick_p{	
	font-size: 15px;
    font-family: "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
    color: #666;
    margin:15px 0 auto;
    text-align: center;

}


.quick_img{
	height:100px;
	
}

.quick_box{
	width: 105px;
    height: 100px;
    margin: 0 auto;
    background-color: white;
	
}
.qucik_body{
	position: fixed;
    right: 58px;
    top: 370px;
    width: 120px;
    background: #ececec;
    height: 400px;
    border: 0;
    padding: 15px 0px 0px 0px;
    vertical-align: top;
    display: block;
    border-style: solid;
    border-radius: 35px;
}
#quick_p{
	text-align: center;
}
#quick_p a img{
	cursor: pointer;
	height:45px;	
}

 .quick_btable tbody tr th p{
 }