/*body 전체영역*/
/* 모달창 로그인/회원가입 */
.modallist{
position:absolute;
z-index:999999;
}
/*로그인 모달*/
#iframe_l{
padding:20px;
width:600px;
height:680px;
background:#f7f7f7;
}
/*회원가입 모달*/
#iframe_s{
margin-top:-103px;
margin-left:-3px;
width:100%;
width:140%;
height:880px;
background:#f7f7f7;
}
/*로고 영역 h1*/
.mainlogo_box{
width:130px;
margin:0 auto;
position:relative;
z-index:222;
}
/*로고*/
#logo{	
width:135px;
margin-top:20px;		
}
/*네비바*/
